@import 'tailwindcss';

@import 'lightbox2/dist/css/lightbox.css' layer(base);

@config "../../tailwind.config.js";

@layer components{
    .flatwhite
        {
            @apply border border-gray-200 rounded-md bg-white shadow-gray-300 shadow-md
        }

}

.suchFilter{
    @apply  h-4 bg-slate-200 focus:outline-hidden focus:border-none text-xs text-gray-500 font-normal rounded-xs
}

select.suchFilter{
    @apply  h-4 bg-slate-200 focus:outline-hidden focus:border-none text-xs text-gray-500 font-normal px-1 py-0 w-20
}

.tabNew {
    @apply h-8 px-2 mr-2 w-36 border border-gray-200 rounded-md bg-white shadow-gray-300 shadow-md  text-xs sm:text-sm md:text-base
}

.tabNewActive{
    @apply h-8 px-2 mr-2 w-36 rounded-md border border-gray-400 text-sky-900 shadow-inner shadow-gray-400 bg-[#ced50369] font-bold pt-1  text-xs sm:text-sm md:text-base
}

.original_ewe_gruen{
    @apply bg-[#ced503]
}

.bg-ewe-xgruen{
    @apply bg-[#CDD503]
}


.text-ewe-xgruen{
    @apply text-[#CDD503]
}

.border-ewe-gruen{
    @apply border-[#CDD503]
}

.basketLabel{
    @apply text-right mr-2
}

.basketInput{
    @apply  h-6 border border-slate-500 rounded-xs
}

.basketTextarea{
    @apply h-28 border border-slate-500 rounded-xs
}

.basketLieferdatum{
    @apply w-4/12 h-6 border border-slate-500 rounded-xs
}


.prio_normal{
    @apply bg-inherit
}

.prio_mittel{
    @apply font-bold
}

.prio_hoch{
    @apply font-bold text-red-500
}

.text-ewe{
    @apply text-ewe-gruen
}

.text-oowv{
    @apply text-blue-500
}

.text-tk{
    @apply text-pink-500
}

.text-be{
    @apply text-orange-500
}

.text-wn{
    @apply text-green-500
}


.InputMenge::-webkit-outer-spin-button,
.InputMenge::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.InputMenge:focus {
    outline: none;
    box-shadow: none;
}


.InputMenge[type=number] {
    -moz-appearance: textfield;
}
